<div class="community-card" data-tags="{{ include.c.tags | join: ' ' }}">
  <article>
    <header>
      <h3 style="margin-bottom: 0.25rem;">
        <a href="{{ include.c.link | default: include.c.url }}" target="_blank" rel="noopener">
          {{ include.c.name }}
        </a>
      </h3>
      
      {% if include.c.tags %}
      <div class="tags">
        {% for tag in include.c.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </header>
    
    {% if include.c.description %}
    <p>{{ include.c.description }}</p>
    {% endif %}
    
    <footer>
      {% if include.c.link or include.c.url %}
      <small>
        <a href="{{ include.c.link | default: include.c.url }}" target="_blank" rel="noopener">
          {{ include.c.link | default: include.c.url }}
        </a>
      </small>
      {% endif %}
      {% if include.c.address %}
      <small>
        <address class="community-address">
          {% if include.c.address.streetAddress %}{{ include.c.address.streetAddress }}<br>{% endif %}
          {% if include.c.address.postalCode %} {{ include.c.address.postalCode }}{% endif %}
        </address>
      </small>
      {% endif %}
      
      
      {% if include.c.social %}
      <div class="social-icons">
        {% for network in include.c.social %}
        {% assign network_name = network[0] %}
        {% assign network_url = network[1] %}
        <a style="text-decoration: none;" href="{{ network_url }}" target="_blank" rel="noopener" title="{{ network_name }}">{% include icons/{{ network_name }}.svg %}</a>
        {% endfor %}
      </div>
      {% endif %}
    </footer>
  </article>
</div>
