<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pink.min.css"
>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script src="{{ '/assets/js/filter.js' | relative_url }}" defer></script>
</head>
<body>
  <header class="container">
    <h1><a href="{{ '#' | relative_url }}">{{ site.title }}</a></h1>
  </header>

  <main class="container">
    <section>
    {{ content }}
    </section>
  </main>

  <footer class="container"> 
    UwU 💙 toronto
  </footer>
</body>
</html>
